.g-stage {
    border: 1px solid black;
    position: relative;
}

.g-stage:hover {
    cursor: pointer;
}

.g-grid-line {
    background-color: rgb(221, 221, 221);
    position: absolute;
}

.g-box {
    background-color: black;
    position: absolute;
}

.g-image {
    position: absolute;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.g-sprite {
    z-index: 10;
}